mixin userCard(user)
    .reviews__card
        .reviews__avatar
            img.reviews__avatar-img(src=`/img/users/${user.photo}`, alt=`${user.name}`)
            h6.reviews__user= user.name
        h4.card__sub-heading= `User ID ðŸ†”`
        p.reviews__text= user._id
        h4.card__sub-heading= `User Email ðŸ“§`
        p.reviews__text= user.email
        h4.card__sub-heading= `User Role ðŸ‘¤`
        p.reviews__text= user.role
        h4.card__sub-heading= `User Active Status ðŸ””`
        p.reviews__text= user.active
        h4.card__sub-heading= `User Last Password Change ðŸ”‘`
        p.reviews__text= user.passwordChangedAt.toLocaleString('en-us', { day: '2-digit', month: '2-digit', year: 'numeric' })
        h4.card__sub-heading= `Password Reset Token ðŸ”‘`
        p.reviews__text= user.passwordResetToken ? user.passwordResetToken: 'No token found'
        h4.card__sub-heading= `Password Reset Token Expiration â³`
        p.reviews__text= user.passwordResetExpires ? user.passwordResetExpires.toLocaleString('en-us', { day: '2-digit', month: '2-digit', year: 'numeric' }) : 'No expiration date found'
        h4.card__sub-heading= `Booked Tours ðŸ—“ï¸`
        p.reviews__text= user.bookings.length
        if user.bookings.length > 0
            a.btn.btn--green.btn--small(href=`/user/${user.slug}`) User's Booked Tours
        h4.card__sub-heading= `Reviews âœ’ï¸`
        p.reviews__text= user.reviews.length
        if user.reviews.length > 0
            a.btn.btn--green.btn--small(href=`/user/${user.slug}`) User's Reviews
        