extends base

mixin navItem(link, text, icon, active)
    li(class=`${active}? 'side-nav--active':''`)
        a(href=`${link}`)
            svg
                use(xlink:href=`/img/icons.svg#icon-${icon}`)
            | #{text}

block content 
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me', 'Settings','settings',true)
                    +navItem('/my-tours', 'My bookings','briefcase',true)
                    +navItem('/my-reviews', 'My reviews','star',true)
                    +navItem('/my-billing', 'Billing','credit-card',true)

                - if(user.role === 'admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('/manage-tours', 'Manage tours','map',true)
                            +navItem('/manage-users', 'Manage users','users',true)
                            +navItem('/manage-reviews', 'Manage reviews','star',true)
                            +navItem('/manage-bookings', 'Manage bookings','briefcase',true)

            .billing__container
                .chart-container
                    h2.heading-secondary.ma-bt-md Your Billings
                if !paidBookings
                    h3.heading-secondary.ma-bt-md.middle No bookings found
                else
                    div#chartdiv(data-user-id=`${user._id}`)
                if !paidBookings
                    h3.heading-secondary.ma-bt-md.middle No bookings found
                else  
                    div.tbl-section
                        .tbl-header
                            table(cellpadding="0" cellspacing="0" border="0")
                                thead
                                    tr
                                        th Tour Name
                                        th Duration
                                        th Group Size
                                        th Difficulty
                                        th Price 
                                        th Location
                                        th Booked Date
                                        th Details
                        .tbl-content
                            table(cellpadding="0" cellspacing="0" border="0")
                                tbody
                                    each data in paidBookings
                                        tr
                                            td= data.tour.name
                                            td= data.tour.duration
                                            td= data.tour.maxGroupSize
                                            td= data.tour.difficulty
                                            td= `$${data.tour.price}`
                                            td= data.tour.startLocation.description
                                            td= data.createdAt.toLocaleString('en-us', { day: '2-digit', month: '2-digit', year: 'numeric' })
                                            td
                                                a.btn.btn--green.view--tour.font--bold(href=`/tour/${data.tour.slug}`) View Tour
    