extends base

block content
  main.main
    .create-tour-form
      .user-view__form-container
        h2.heading-secondary.ma-bt-md Create New Tour
        form.form.form--create-tour
          .form__group
            label.form__label(for='name') Tour Name
            input#name.form__input(type='text', required, minlength='10', maxlength='40', placeholder='Enter tour name')
          
          .form__group
            label.form__label(for='duration') Duration (days)
            input#duration.form__input(type='number', required, min='1', placeholder='Duration')
          
          .form__group
            label.form__label(for='maxGroupSize') Max Group Size
            input#maxGroupSize.form__input(type='number', required, min='1', placeholder='Max group size')
          
          .form__group
            label.form__label(for='difficulty') Difficulty
            select#difficulty.form__input(required)
              option(value='') Select difficulty
              option(value='easy') Easy
              option(value='medium') Medium
              option(value='difficult') Difficult
          
          .form__group
            label.form__label(for='price') Price
            input#price.form__input(type='number', required, min='1', placeholder='Price')
          
          .form__group
            label.form__label(for='summary') Summary
            textarea#summary.form__input(required, placeholder='Brief summary of the tour')
          
          .form__group
            label.form__label(for='description') Description
            textarea#description.form__input(required, rows='5', placeholder='Detailed description')
          
          .form__group
            label.form__label Start Location
            .form__start-location-inputs
              input#address.form__input(type='text', placeholder='Address', required)
              input#coordinates.form__input(type='text', placeholder='Coordinates (lat,lng)', required, readonly)
              input#description-loc.form__input(type='text', placeholder='Description', required)

          .form__group
            label.form__label Tour Locations
            #locations-container
                #form__location-inputs
                    input#location-address.form__input(type='text', placeholder='Address')
                    input#location-description.form__input(type='text', placeholder='Description')
                    input#location-day.form__input(type='number', placeholder='Day of visit(number)')
                    button.btn.btn--small.btn--green.middle#add-location(type='button') Add Location

          .form__group
            label.form__label Start Dates
            #dates-container
                .form__date-inputs
                    input.form__input#tour-date(type='datetime-local')
                    button.btn.btn--small.btn--green.middle#add-date(type='button') Add Date
          
          .form__group
              label.form__label Tour Guides
              .guides-selection
                  .guides-search
                      input#guide-search.form__input(type='text', placeholder='Search guides...')
                  select#guides.form__input(name='guides[]', multiple, size='4')
                      each guide in guides
                          option(value=guide.id, data-role=guide.role, data-name=guide.name.toLowerCase())= `${guide.name} (${guide.role})`
          
          .form__group
              label.form__label Cover Image
              .form__photo-upload
                  img#coverPreview.form__user-photo(src='https://dahee-natours-project.s3.amazonaws.com/tours/default.jpg')
                  input#imageCover.form__upload(type='file', accept='image/*', required)
                  label.btn.btn--small.btn--green(for='imageCover') Choose cover image

          .form__group
              label.form__label Tour Images (Up to 3)
              .form__photo-upload.form__photo-upload--multiple
                  .preview-container#imagePreviewContainer
                      each i in [1, 2, 3]
                          img.form__user-photo.tour-image-preview(src=`https://dahee-natours-project.s3.amazonaws.com/tours/tour${i}.jpg`)
                  input#images.form__upload(type='file', accept='image/*', multiple)
                  label.btn.btn--small.btn--green(for='images') Choose tour images
          
          .form__group.right
            button.btn.btn--green.btn--create-tour.middle Create Tour
