extends base

block content 
    main.main 
        .card-container
            if tours.length === 0
                h2.heading-secondary.ma-bt-md No tours found for your search
            else
                each tour in tours
                    .card.card--small
                        a(href=`/tours/${tour.slug}`)
                            img.card__image(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name} tour`)
                            .card__details
                                h3.card__heading #{tour.name}
                                p.card__text #{tour.summary}
                                p.card__text #{tour.difficulty} difficulty
                                p.card__text #{tour.duration} hours
                                p.card__text #{tour.maxGroupSize} people max group size
                                p.card__text $#{tour.price} per person
                                p.card__text #{tour.ratingsAverage} ratings