extends base
include _overviewBox
include _reviewCard

block append head 
    script(src='https://unpkg.com/leaflet@1.9.4/dist/leaflet.js' integrity='sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=' crossorigin='')
    script(src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js')
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet')
    //- script(src='/js/mapbox.js')



block content 
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/tours/${tour.imageCover}`, alt=`${tour.name}`)

        .heading-box
            h1.heading-primary
                span= `${tour.name} tour`
            .heading-box__group
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.heading-box__text= `${tour.duration} days`
                .heading-box__detail
                    svg.heading-box__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.heading-box__text= tour.startLocation.description

    section.section-description
        .overview-box
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Quick facts
                    - const date = tour.startDates?.[0].toLocaleString('en-us',{month:'long', year:'numeric'})
                    +overviewBox('Next Date', date, 'calendar')
                    +overviewBox('Difficulty', tour.difficulty, 'trending-up')
                    +overviewBox('Participants', `${tour.maxGroupSize} people`, 'user')
                    +overviewBox('Rating',  `${tour.ratingsAverage} / 5`, 'star')

                .overview-box__group
                    h2.heading-secondary.ma-bt-lg Your tour guides
                    each guide in tour.guides
                        .overview-box__detail
                            img.overview-box__img(src=`/img/users/${guide.photo}`, alt=`${guide.name}`)
                            - if(guide.role === 'lead-guide')
                                span.overview-box__label Lead Guide 
                            - if(guide.role === 'guide')
                                span.overview-box__label Tour Guide
                            span.overview-box__text= guide.name


        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${tour.name} tour`
            - const paragraphs = tour.description.split('\n');
            each p in paragraphs 
                p.description__text= p

    section.section-pictures
        each img, i in tour.images 
            .picture-box
                img.picture-box__img(src=`/img/tours/${img}`, alt=`${tour.name} ${i+1}`, class=`picture-box__img--${i+1}`)

    section.section-map
        #map(data-locations=`${JSON.stringify(tour.locations)}`)

    section.section-reviews
        .reviews
            each review in tour.reviews
                +reviewCard(review)

    if user
        if bookId && user.role === 'user' && !review
            .reviews__new
                h2.heading-secondary.ma-bt-lg.middle Write your own review
                form.form.form-review
                    .form__group
                        label.form__label(for='review') Your Review
                        textarea#review.form__input(name='review', placeholder='Tell us about your experience!', required)
                    .form__group
                        label.form__label(for='rating') Rating
                        select#rating.form__input(name='rating')
                            option(value='5') 5 - Excellent
                            option(value='4') 4 - Very Good
                            option(value='3') 3 - Good
                            option(value='2') 2 - Fair
                            option(value='1') 1 - Poor
                    .form__group.middle
                        button.btn.btn--green.btn--create-review Submit Review
        if bookId && user.role === 'user' && review
            .reviews__update
                h2.heading-secondary.ma-bt-lg.middle Your Review
                form.form.form-review-update
                    .form__group
                        label.form__label(for='review') Your Review
                        textarea#review.form__input(name='review', value=review.review, required)
                    .form__group
                        label.form__label(for='rating') Rating
                        select#rating.form__input(name='rating', value=review.rating)
                            option(value='5') 5 - Excellent
                            option(value='4') 4 - Very Good
                            option(value='3') 3 - Good
                            option(value='2') 2 - Fair
                            option(value='1') 1 - Poor
                    .form__group.middle
                        button.btn.btn--green.btn--update-review(data-review-id=`${review._id}`) Update Review
    section.section-cta
    .cta
        .cta__img.cta__img--logo
            img(src='/img/logo-white.png', alt='Natours logo')
        img.cta__img.cta__img--1(src=`/img/tours/${tour.images[1]}`, alt='Tour picture')
        img.cta__img.cta__img--2(src=`/img/tours/${tour.images[2]}`, alt='Tour picture')
        .cta__content
            h2.heading-secondary What are you waiting for?
            p.cta__text=`${tour.duration} days. 1 adventure. Infinite memories. Make it yours today!`
            if user 
                if bookId
                    button.btn.btn--red.span-all-rows#delete-booking(data-book-id=`${bookId}`) Delete Booking
                else 
                    button.btn.btn--green.span-all-rows#book-tour(data-tour-id=`${tour.id}`) Book tour now!
                
            else 
                a.btn.btn--green.span-all-rows(href='/login') Log in to book tour
                
//- block js 
//-     script(src='/js/mapbox.js')
